@import bourbon

body
  font-family: "Open Sans", sans-serif

.head
  color: #888661
  weight: 300

.welcome
  color: #2f3ec3
  font-size: 30px
  font-style: normal

.test
  color: rgb(143, 143, 143)
  font-size: 20px

figure
  margin: auto

.content
  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%

.happy
  color: blue
  font-style: italic

  li
    color: rgba(255,255,255,0.8)
    font-family: "Open Sans", sans-serif
    font-size: 16px
    margin-bottom: 16px
    -webkit-font-smoothing: antialiased
    cursor: pointer
    &:hover
      color: rgba(255,255,255,1)

.toggle
  width: 40px
  height: 40px
  text-decoration: none
  font-size: 30px
  color: black
  +position(fixed, 20px 0 0 200px)
  z-index: 2

.bird-box
  position: relative
  height: 600px
  background:
    image: url(/images/winter-bg.jpg)
    size: cover
    position: 0px -50px
    attachment: fixed
  overflow: hidden
  z-index: 1


.logo
  height: 120px
  width: 100%
  background:
    image: url(/images/ivar.myrberg.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -50px

.fore-bird
  width: 960px
  height: 733px
  background:
    //color: transparentize(pink, 0.3)
    image: url(/images/ballon.png)
    repeat: no-repeat
    position: right bottom
  position: absolute
  left: 50%
  margin-left: -230px
  top: -50px

//.back-bird
  width: 960px
  height: 298px
  background:
    image: url(/images/back-bird.png)
    repeat: no-repeat
    position: top left
  position: absolute
  left: 50%
  margin-left: -480px

/*.nav-side
  position: fixed
  left: 0
  top: 0
  height: 100%
  width: 100%
  max-width: 250px
  background-color: rgb(42, 219, 169)
  box-sizing: border-box
  padding: 20px
  color: #ffffff
  margin-left: -250px
  transition: margin 200ms ease-in-out
  z-index: 3


/*.nav-side.nav-open
  margin-left: 0
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0)

/*.nav-toggle
  position: absolute
  right: -40px
  top: 0
  width: 40px
  height: 40px
  background-color: rgb(42, 219, 169)
  line-height: 40px
  text-decoration: none
  text-align: center
  border-bottom-right-radius: 3px
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0)
  z-index: 2

/*.nav-toggle:before
  content: "\2192"
  font-weight: 600
  color: #fff
  z-index: 4

/*.nav-side.nav-open .nav-toggle:before
  content: "\2190" */
