doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title About
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
    link(rel="stylesheet", href="css/animate.css")
    script (src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='index.html') Ivars Website
      ul.nav.navbar-nav
        li
          a(href='index.html')
            span.glyphicon.glyphicon-home
            |  Home
        li.active
          a(href='about.html')
            span.glyphicon.glyphicon-user
            |  About
        li
          a(href='cv.html')
            span.glyphicon.glyphicon-list-alt
            |  CV  
        li
          a(href='#')
            span.glyphicon.glyphicon-user
            |  Contact
        li
          a(href='#')
            span.glyphicon.glyphicon-log-in
            |  Login    
