doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Ivar
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
    link(rel="stylesheet", href="css/animate.css")
  body
    
    header.bird-box
      .back-bird
      .logo
      .fore-bird
      
    
    section.content
      
      article
        div(class="container fadeInUp wow")
          h1.head Ivar Myrberg
        
        hr
        p.welcome(class="fadeInDown animated") Welcome to my website
        p.test(class="rubberBand wow", style="margin-top: 100px") test original
        
      div(style="height: 2000px")
        
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/wow.min.js")
    script(src="/js/functions.js")
    
