doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title oOoOOo BATTY
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
    link(rel="stylesheet", href="css/animate.css")
  body(background="images/background.jpg")
    h1 Hello Louis
    p
    p
    p  
    p
    h2 This is a secret message
    h3 If you have found this you are on the right way
    h1 ------
    h1.happy Today should be your Birthday so HAPPY BIRTHDAY
    
    h2.slug The first thing i sent on telegram was: "Is this free?" The first file i sent, was a picture of bitcoin, the second thing i sent was a .mp3 file. 
    
    h1 The question is, what music genre is that mp3. (rap, rock etc)
    
    h3 ps, remeber what you did on my birthday seA
    
    h4 you need something else? Maybe some sort of key or something. To get this contact Ivar on telegram. :) 
    h5 (you need to say the genre to him!)
